.login_form {
    width: 80%;
    margin: 0 auto;
    padding: 12%;
    background-color: #353535;
    color: white;
    .h {
        background-color: whitesmoke;
    }
    
    body {
        background-color: #353535;
    }
}

