.signup_form {
    width: 68%;
    margin: 0 auto;
    padding: 6%;
    background-color: #353535;
    color: white;
    .h {
        background-color: whitesmoke;
        text-align: left;
    }
    
    body {
        background-color: #353535;
    }
}

